@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

// header

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #323941;
    min-height: 48px;
}

.header_text {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.header_icons {
    display: flex;
    flex-wrap: wrap;
}

.basket {
    margin: 0 29px 0 85px;
    cursor: pointer;
}

.instagram {
    cursor: pointer;
}

.header_number {
    font-size: 16px;
    color: white;
    margin-left: 29px;
    letter-spacing: -1.5px;
}

// logo

.products {
    background-color: #323941;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.line {
    width: 100%;
    border-bottom: 1px solid #84888d;
}

.logoBlock {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.logo_logoBlock_first {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 60px;
}

.logo_textBlock {
    margin-left: 16px;
}

.logo_title {}

.logo_text {
    font-weight: 600;
}

.directorBlock {
    display: flex;
    align-items: center;
}

.director {}

.director_textBlock {
    margin-left: 16px;
    max-width: 130px;
}

.director_title {
    font-size: 16px;
    font-weight: 600;
}

.director_text {
    color: #009EFF;
    font-size: 13px;
    font-weight: 400;
}

// Product 

.productsBlock {
    max-width: 950px;
    display: flex;
    flex-wrap: wrap;
}



.product {
    width: 130px;
    height: 130px;
    display: grid;
    text-align: center;
    justify-content: center;
}

.product_img {
    margin: auto;
    align-items: center;
    height: 60px;
    max-width: 70px;
}

.product_title {
    color: #84888d;
    font-size: 14px;
    font-weight: 700;
}

// FreeDay

.freeDay {
    background-color: #009EFF;
    min-height: 48px;
}

.freeDayText {
    color: white;
    text-align: center;
    padding: 15px 0;
}

// Bicycles

.bicycles {
    max-width: 1200px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priceBlock {
    max-width: 600px;
}

.bicycles_title {
    color: #323941;
    font-size: 80px;
    font-weight: 700;
    line-height: 85px;
    margin-top: 55px;
    margin: 55px 0 10px;
}

.warranty_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
}

.warrantyBlock {
    border: 2px solid #999999;
    padding: 25px;
    display: grid;
}

.warranty_button {
    width: 160px;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999999;
    margin: 0 5px;
    cursor: pointer;
}

.warranty_button:first-child {
    margin: 0 5px 0 0;
}

.price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.throughBlock {
    font-weight: 400;
    font-size: 14px;
    margin: 0 30px 0 0;
}

.through_price {
    color: #323941;
    font-size: 16px;
    text-decoration: line-through;
}

.new_price {
    color: #323941;
    font-size: 28px;
    font-weight: bold;
}

.text_blue {
    color: #009EFF;
    font-weight: 600;
    font-size: 18px;
    width: 200px;
    margin-right: 30px;
}

.buttonBlock {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button_price {
    width: 240px;
    height: 48px;
    background-color: #009EFF;
    color: white;
    border: 0;
}

.button_price:first-child {
    margin-right: 20px;
}

.methods {
    margin-top: 10px;
}

.methods_text {
    font-size: 16px;
}

.payment {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

// miles

.miles {
    max-width: 1200px;
    margin: 45px auto;
}

.miles_icons {
    display: flex;
    justify-content: center;
}

.miles_iconBlock {
    display: flex;
    align-items: center;
    margin-left: 70px;
    height: 60px;
}

.miles_text {
    color: #999999;
    max-width: 150px;
    margin-left: 20px;
}

.miles_iconBlock:first-child {
    margin-left: 0;
}

.miles_iconBlockBlue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 60px;
    background-color: #009EFF;
    margin-left: 70px;
    padding: 5px;
}

.miles_textBlue {
    width: 160px;
    margin-left: 20px;
    color: white;
}

.miles_textBlocks {
    max-width: 1075px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    margin: 0 auto;
}

.miles_title_bold {
    color: #323941;
    font-weight: 700;
    font-size: 25px;
    max-width: 380px;
    margin-bottom: 10px;
}

.miles_text_normal {
    color: #323941;
    font-weight: 400;
    font-size: 13px;
    max-width: 530px;
}

// Packing List

.packing_list {
    max-width: 1075px;
    margin: 15px auto;
}

.packing_list_flex {
    display: flex;
    justify-content: space-between;
}

.packingList_title {
    color: #323941;
    font-weight: 700;
    font-size: 50px;
}

.packingList_imgVideo {
    width: 450px;
    height: 250px;
    margin: 20px 20px 0 0;
}

.packingList_circleBlock {
    display: flex;
    justify-content: right;
}

.packingList_imgPc {
    z-index: 2;
}

.circle {
    width: 450px;
    height: 450px;
    background: #009EFF;
    border-radius: 220px;
    position: absolute;
    z-index: 1;
    margin-right: 35px;
}

// Accessories

.accessories_title {
    color: #323941;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}

.Accessories {
    max-width: 1075px;
    margin: 45px auto;
}

.accessoriess_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.accessories_img {
    width: 90px;
    height: 80px;
    margin: 15px auto;
}

.accessories_block {
    width: 300px;
    height: 370px;
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.accessories_name {
    color: #323941;
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 15px;
}

.accessories_text {
    color: #999999;
    font-weight: 400;
    font-size: 13px;
}

.price {
    color: #323941;
    font-weight: 400;
    font-size: 18px;
}

.accessories_button {
    color: #C6C6C6;
    width: 130px;
    height: 40px;
    margin: 15px auto 0;
    background-color: white;
    border: 1px solid #C6C6C6;
}

.SeeMore {
    background-color: #009EFF;
    color: white;
    width: 200px;
    padding: 15px;
    text-align: center;
    justify-content: center;
    margin: 15px auto;
    display: flex;
    border: 0;
}

.humans {
    width: 100%;
}

// IMPRESSIVE FEATURES

.impressiveFeatures {
    max-width: 1075px;
    margin: 45px auto;
}

.impressiveFeatures_title {
    color: #323941;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.impressiveFeatures_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.impressiveFeatures_block {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 50px;
    width: 160px;
    height: 150px;
}

.impressiveFeatures_img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.impressiveFeatures_name {
    color: #009EFF;
    font-size: 25px;
}

.impressiveFeatures_text {
    color: #999999;
}

// KickMAX

.KickMAX {
    max-width: 1075px;
    margin: 15px auto;
}

// Battery

.battery {
    width: 100%;
    background-color: #0E0E16;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.battery_textBlock {
    max-width: 550px;
    margin-left: 15%;
}

.battery_title {
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 15px;
}

.battery_text {
    color: white;
    font-size: 18px;
}

.Smartbattery_img {
    width: 60%;
    height: 100%;
}

// DualBraking

.DualBraking {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.DualBraking_img {
    width: 60%;
    height: 100%;
}

.DualBraking_textBlock {
    max-width: 375px;
    margin-right: 15%;
}

.DualBraking_title {
    color: #323941;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 25px;
    line-height: 45px;
}

.DualBraking_text {
    color: #323941;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
}