@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('../assets//icons/fon.png');
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.header_nav {
    margin: 10px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.header_text {
    margin: 0 0 0 25px;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
}

.header_text:first-child {
    margin: 0 30px;
}

.infoBlock {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.rewards {
    max-width: 200px;
    max-height: 70px;
}

.infoBlock_text_title {
    color: #008e65;
    font-size: 48px;
    font-weight: bold;
}

.infoBlock_text {
    color: #bab9b8;
    font-size: 16px;
    font-weight: 600;
}

.Products {
    padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    background-color: #eae9e5;
    width: 295px;
    height: 380px;
    border-radius: 50px;
    display: grid;
    justify-content: center;
    margin: 25px;
}

.product_img {
    width: 140px;
    height: 200px;
    margin: -65px auto 0;
}

.product_text {
    margin: -20px auto 0;
}

.product_title {
    color: #a49b8f;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.product_calories {
    color: #a39c90;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
}

.product_caloriesBlock {
    display: flex;
    justify-content: space-between;
}

.product_caloriesBlockSecond {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}