@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

// header

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #323941;
    min-height: 50px;
}

.header_text {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.header_icons {
    display: flex;
    flex-wrap: wrap;
}

.basket {
    margin: 0 29px 0 85px;
    cursor: pointer;
}

.instagram {
    cursor: pointer;
}

.header_number {
    font-size: 16px;
    color: white;
    margin-left: 29px;
    letter-spacing: -1.5px;
}

// logo

.products {
    background-color: #323941;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.line {
    width: 100%;
    border-bottom: 1px solid #84888d;
}

.logoBlock {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.logo_logoBlock_first {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 60px;
}

.logo_textBlock {
    margin-left: 15px;
}

.logo_text {
    font-weight: 600;
}

.directorBlock {
    display: flex;
    align-items: center;
}

.director_textBlock {
    margin-left: 16px;
    max-width: 130px;
}

.director_title {
    font-size: 16px;
    font-weight: 600;
}

.director_text {
    color: #009EFF;
    font-size: 13px;
    font-weight: 400;
}

// Product 

.productsBlock {
    max-width: 950px;
    display: flex;
    flex-wrap: wrap;
}



.product {
    width: 130px;
    height: 130px;
    display: grid;
    text-align: center;
    justify-content: center;
}

.product_img {
    margin: auto;
    align-items: center;
    height: 60px;
    max-width: 70px;
}

.product_title {
    color: #84888d;
    font-size: 14px;
    font-weight: 700;
}

// FreeDay

.freeDay {
    background-color: #009EFF;
    min-height: 48px;
}

.freeDayText {
    color: white;
    text-align: center;
    padding: 15px 0;
}

// Bicycles

.bicycles {
    max-width: 1200px;
    margin: 15px auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priceBlock {
    max-width: 600px;
}

.slider {
    width: 320px;
}

.bicycles_title {
    color: #323941;
    font-size: 60px;
    font-weight: 700;
    margin-top: 55px;
    margin: 55px 0 10px;
}

.warranty_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
}

.warrantyBlock {
    border: 2px solid #999999;
    padding: 25px;
    display: grid;
}

.warranty_button {
    width: 160px;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999999;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    margin-top: 30px;
}

.throughBlock {
    font-weight: 400;
    font-size: 14px;
    margin: 0 30px 0 0;
}

.through_price {
    color: #323941;
    font-size: 16px;
    text-decoration: line-through;
}

.new_price {
    color: #323941;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text_blue {
    color: #009EFF;
    font-weight: 600;
    font-size: 18px;
    width: 200px;
    margin-right: 30px;
}

.buttonBlock {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.button_price {
    width: 240px;
    height: 48px;
    background-color: #009EFF;
    color: white;
    border: 0;
    margin-bottom: 10px;
}

.button_price:first-child {
    margin-right: 20px;
}

.methods {
    margin-top: 10px;
}

.methods_text {
    font-size: 16px;
}

.payment {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

@media (max-width: 950px) {
    .bicycles_title {
        font-size: 50px;
    }

    .warranty_buttons {
        justify-content: left;
    }

    .warranty_button {
        width: 120px;
        font-size: 14px;
        padding: 1px;
    }

    .text_blue {
        max-width: 120px;
        font-size: 12px;
    }
}

@media (max-width: 905px) {
    .button_price {
        width: 150px;
    }
}

@media (max-width: 790px) {
    .warranty_button {
        margin-top: 10px;
    }

    .bicycles_title {
        font-size: 25px;
    }

    .button_price {
        width: 110px;
    }
}

@media (max-width: 675px) {
    .price_img {
        max-width: 120px;
        max-height: 50;
    }

    .text_blue {
        margin-right: 5px;
    }
}

// miles

.miles {
    max-width: 1200px;
    margin: 45px auto;
}

.miles_icons {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: left;
    padding: 0 15px;
}

.miles_iconBlock {
    display: flex;
    align-items: center;
    margin-left: 70px;
    height: 60px;
}

.miles_text {
    color: #999999;
    max-width: 150px;
    margin-left: 20px;
    text-align: left;
}

.miles_iconBlock:first-child {
    margin-left: 0;
}

.miles_iconBlockBlue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 60px;
    background-color: #009EFF;
    margin-left: 70px;
    padding: 5px;
}

.miles_textBlue {
    width: 160px;
    margin-left: 20px;
    color: white;
}

.miles_textBlocks {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
}

.miles_title_bold {
    color: #323941;
    font-weight: 700;
    font-size: 25px;
    max-width: 380px;
    margin-bottom: 10px;
}

.miles_text_normal {
    color: #323941;
    font-weight: 400;
    font-size: 13px;
    max-width: 530px;
}

@media (max-width: 1100px) {
    .miles_iconBlockBlue {
        margin-left: 0;
        max-width: 200px;
    }
}

@media (max-width: 990px) {
    .miles_iconBlockBlue {
        margin-top: 15px;
    }
}

// Packing List

.packing_list {
    max-width: 1200px;
    margin: 15px auto;
}

.packing_list_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 15px;
}

.packingList_title {
    color: #323941;
    font-weight: 700;
    font-size: 50px;
}

.packingList_imgVideo {
    width: 450px;
    height: 250px;
    margin: 40px 0;
}

.packingList_circleBlock {
    display: flex;
    justify-content: right;
}

.packingList_imgPc {
    z-index: 2;
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.25));
    border-radius: 31px;
    transform: rotate(5.49deg);
}

.circle {
    width: 450px;
    height: 450px;
    background: #009EFF;
    border-radius: 220px;
    position: absolute;
    z-index: 1;
    margin-right: 35px;
}

@media (max-width: 1015px) {
    .packingList_imgVideo {
        width: 340px;
        height: 180px;
    }

    .packingList_imgPc {
        width: 330px;
        height: 330px;
    }

    .circle {
        width: 330px;
        height: 330px;
        margin-right: 0;
    }
}

// Accessories

.accessories_title {
    color: #323941;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}

.Accessories {
    max-width: 1200px;
    margin: 45px auto;
}

.accessoriess_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.accessories_img {
    width: 90px;
    height: 80px;
    margin: 15px auto;
}

.accessories_block {
    width: 300px;
    height: 370px;
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.accessories_name {
    color: #323941;
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 15px;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.accessories_text {
    color: #999999;
    font-weight: 400;
    font-size: 13px;
}

.price {
    color: #323941;
    font-weight: 400;
    font-size: 18px;
}

.accessories_button {
    color: #C6C6C6;
    width: 130px;
    height: 40px;
    margin: 15px auto 0;
    background-color: white;
    border: 1px solid #C6C6C6;
}

.SeeMore {
    background-color: #009EFF;
    color: white;
    width: 200px;
    padding: 15px;
    text-align: center;
    justify-content: center;
    margin: 15px auto;
    display: flex;
    border: 0;
}

.humans {
    width: 100%;
}

.Ledlight {
    width: 100%;
    background-color: #0E0E16;
    display: flex;
    justify-content: right;
    align-items: center;
}

.Ledlight_textBlock {
    max-width: 540px;
    margin-right: 120px;
}

.Ledlight_title {
    color: white;
    font-weight: 700;
    font-size: 50px;
    max-width: 550px;
    margin-bottom: 15px;
    position: relative;
}

.Ledlight_text {
    color: white;
    font-size: 18px;
    position: relative;
}

.LedLight_img {
    height: 100%;
    width: 35%;
}

@media (max-width: 1050px) {

    .Ledlight_title,
    .Ledlight_text {
        left: 140px;
    }
}

@media (max-width: 990px) {
    .Ledlight_title {
        font-size: 34px;
    }

    .Ledlight_text {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .Ledlight_title {
        font-size: 24px;
        left: 70px;
    }

    .Ledlight_text {
        font-size: 12px;
        left: 70px;
    }
}

// IMPRESSIVE FEATURES

.impressiveFeatures {
    max-width: 1200px;
    margin: 45px auto;
}

.impressiveFeatures_title {
    color: #323941;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.impressiveFeatures_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.impressiveFeatures_block {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 50px;
    width: 160px;
    height: 150px;
}

.impressiveFeatures_img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.impressiveFeatures_name {
    color: #009EFF;
    font-size: 25px;
}

.impressiveFeatures_text {
    color: #999999;
}

// KickMAX

.KickMAX {
    max-width: 1200px;
    margin: 15px auto;
}

.KickMAX_title {
    color: #323941;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.KickMax_block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.KickMAX_text {
    color: #999999;
    font-weight: 400;
    font-size: 18px;
    margin: 15px 0;
}

.KickMAX_textBlock {
    text-align: right;
}

.KickMAX_textBlock:first-child {
    text-align: left;
}

@media (max-width: 1020px) {
    .KickScooter_img {
        max-width: 320px;
        max-height: 320px;
    }

    .KickMAX_textBlock {
        text-align: left;
    }

    .KickMAX_textBlock:first-child {
        text-align: right;
    }
}

@media (max-width: 735px) {
    .KickScooter_img {
        max-width: 250px;
        max-height: 250px;
    }
}

// Battery

.battery {
    width: 100%;
    background-color: #0E0E16;
    display: flex;
    justify-content: right;
    align-items: center;
}

.battery_textBlock {
    max-width: 550px;
}

.battery_title {
    color: white;
    font-weight: 700;
    font-size: 50px;
    max-width: 550px;
    margin-bottom: 15px;
    position: relative;
    left: 200px;
}

.battery_text {
    color: white;
    font-size: 18px;
    position: relative;
    left: 200px;
}

.Smartbattery_img {
    width: 60%;
    height: 100%;
}

.PowerRecycle_img {
    width: 50%;
    height: 100%;
}

@media (max-width: 1300px) {
    .battery_title {
        font-size: 34px;
    }

    .battery_text {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .battery_title {
        font-size: 24px;
        left: 150px;
    }

    .battery_text {
        font-size: 12px;
        left: 150px;
    }
}

@media (max-width: 800px) {
    .battery_title {
        font-size: 24px;
        left: 100px;
    }

    .battery_text {
        font-size: 12px;
        left: 100px;
    }
}

@media (max-width: 700px) {
    .battery_title {
        font-size: 20px;
    }

    .battery_text {
        font-size: 10px;
    }
}

// PowerRecycle

.PowerRecycle_title {
    color: white;
    font-weight: 700;
    font-size: 50px;
    max-width: 550px;
    margin-bottom: 15px;
    position: relative;

}

.PowerRecycle_text {
    color: white;
    font-size: 18px;
    position: relative;
}

@media (max-width: 1110px) {
    .PowerRecycle_title {
        font-size: 24px;
        left: 40px;
    }

    .PowerRecycle_text {
        font-size: 12px;
        left: 40px;
    }
}

@media (max-width: 700px) {
    .PowerRecycle_title {
        font-size: 18px;
        left: 40px;
    }

    .PowerRecycle_text {
        font-size: 10px;
        left: 40px;
    }
}

// RidingModes

.RidingModes_title {
    color: white;
    font-weight: 700;
    font-size: 50px;
    max-width: 550px;
    margin-bottom: 15px;
    position: relative;
    left: 80px;
}

.RidingModes_text {
    color: white;
    font-size: 18px;
    position: relative;
    left: 80px;
}

.RidingModes_img {
    width: 50%;
    height: 100%;
}

@media (max-width: 1110px) {
    .RidingModes_title {
        font-size: 40px;
    }

    .RidingModes_text {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .RidingModes_title {
        font-size: 24px;
        left: 40px;
    }

    .RidingModes_text {
        font-size: 12px;
        left: 40px;
    }
}

// DualBraking

.DualBraking {
    width: 100%;
    height: 540px;
    display: flex;
    align-items: center;
}

.DualBraking_img {
    max-width: 60%;
    height: 100%;
}

.DualBraking_title {
    color: #323941;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 25px;
    line-height: 45px;
    position: relative;
    right: 60px;
}

.DualBraking_text {
    color: #323941;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
    position: relative;
    right: 60px;
}

@media (max-width: 1320px) {
    .DualBraking {
        height: 280px;
    }

    .DualBraking_img {
        width: 850px;
        margin-left: -60px;
    }
}

@media (max-width: 1005px) {
    .DualBraking_title {
        font-size: 34px;
        letter-spacing: -1px
    }

    .DualBraking_text {
        font-size: 14px;
    }
}

@media (max-width: 780px) {
    .DualBraking_title {
        font-size: 24px;
    }
}

// FoldingMechanism 

.FoldingMechanism {
    max-width: 1200px;
    margin: 15px auto;
}

.FoldingMechanism_title {
    color: #000000;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin: 45px 0 15px;
}

.FoldingMechanism_text {
    color: #000;
    font-size: 14px;
    text-align: center;
}

.FoldingMechanism_img {
    display: flex;
    margin: 0 auto;
    margin-bottom: 75px;
}

@media (max-width: 840px) {
    .FoldingMechanism_img {
        max-width: 640px;
    }
}

@media (max-width: 780px) {
    .miles_iconBlock {
        margin-left: 10px;
    }
}

@media (max-width: 760px) {
    .FoldingMechanism_title {
        font-size: 34px;
    }
}

@media (max-width: 660px) {
    .miles_iconBlockBlue {
        width: 207px;
    }

    .miles_iconBlock {
        margin-top: 15px;
    }
}

// Downloadmanual

.downloadmanual {
    max-width: 960px;
    max-height: 300px;
    margin: 45px auto;
    border: 4px solid #009EFF;
}

.downloadmanual_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadmanual_img {
    margin-top: -35px;
}

.downloadmanual_textBlock {
    margin-left: 40px;
}

.downloadmanual_title {
    color: #323941;
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    max-width: 250px;
    margin-bottom: 15px;
}

.downloadmanual_iconsBlocks {
    display: flex;
    margin-bottom: 15px;
}

.downloadmanual_iconBlock {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.downloadmanual_icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.downloadmanual_icon_text {
    color: #323941;
    font-weight: 400;
    font-size: 13px;
}

.downloadmanual_button {
    background-color: #009EFF;
    color: white;
    width: 240px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0;
    margin-bottom: 15px;
}

.downloadmanual_iconButton {
    width: 30px;
    height: 30px;
}

@media (max-width: 980px) {
    .downloadmanual {
        margin: 45px 20px;
    }

    .downloadmanual_img {
        width: 240px;
    }

    .downloadmanual_title {
        font-size: 26px;
        text-align: center;
        margin: 15px auto;
    }

    .downloadmanual_iconsBlocks {
        flex-wrap: wrap;
        justify-content: left;
    }
}

// Smartphone

.smartphone {
    max-width: 1075px;
    margin: 35px auto;
}

.smartphone_title {
    color: #323941;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}

.smartphone_text {
    color: #323941;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.smartphone_imgBlock {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Foter

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #323941;
    min-height: 48px;
    padding: 15px 0;
}

.footer_textBlock {
    display: flex;
    align-items: center;
    color: white;
    font-size: 13px;
}

.footer_text {
    margin: 0 20px;
}

// Adaptiv

@media (max-width: 650px) {
    .header {display: none;}
    .logoBlock {display: none;}
}